<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Books Page</title>
  </head>
  <body>
    <h1>Books Page</h1>
    <% books.forEach((book) => { %>
      <img src="<%= book['Book Cover URL'] %>" alt="<%= book['Book Title'] %>" />
    <% }); %>
  </body>
</html>
