<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    © 2017 Galvanize Inc.
    </div>
  </div>
</footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/parallax.js"></script>

</html>
