<% include ./header %>
    <div id="parallax-container" class="parallax-container">
    <div class="parallax"><img src="/images/books_small_2.jpeg"></div>
    </div>
    <div class="section white">
    <div class="row container center-align">
      <h2 class="header ">Welcome to Galvanize Reads</h2>
      <a href="/books" class="waves-effect waves-light btn-large"><i class="material-icons left">library_books</i>Browse Books</a>
      <a href="/authors" class="waves-effect waves-light btn-large"><i class="material-icons left">perm_identity</i>Browse Authors</a>
    </div>
    </div>
    <div class="parallax-container">
    <div class="parallax"><img src="/images/books_small.jpeg"></div>
    </div>
    <script type="text/javascript" src="/js/parallax.js"></script>
  </body>
  <% include ./footer %>
