<% include ./header %>
    <form>
       <div class="input-field">
         <input id="search" type="search" placeholder="Search (by genre)" required>
         <label class="label-icon" for="search"><i class="material-icons">search</i></label>
         <i class="material-icons">close</i>
       </div>
     </form>
<!--
    <form>
      <input type="text" class="form-control" name="#" placeholder="Search (by genre)"><br>
      <button type="submit" class="btn btn-defualt">Submit</button>
    </form> -->
  </body>
</html>
