<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <h1>Galvanize Reads</h1>
    <h2>Books</h2>
    <h2>Authors</h2>
    <h3>Quick Search</h3>
    <form>
      <input type="text" class="form-control" name="#" placeholder="Search (by genre)"><br>
      <button type="submit" class="btn btn-defualt">Submit</button>
    </form>
  </body>
</html>
